In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('https://opendata.ecdc.europa.eu/covid19/casedistribution/csv/data.csv')
df.head()

      dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0  14/12/2020  ...                                           9.013779
1  13/12/2020  ...                                           7.052776
2  12/12/2020  ...                                           6.868768
3  11/12/2020  ...                                           7.134266
4  10/12/2020  ...                                           6.968658

[5 rows x 12 columns]

In [ ]:
df = df[['dateRep', 'countriesAndTerritories', 'cases']]
df.head()

      dateRep countriesAndTerritories  cases
0  14/12/2020             Afghanistan    746
1  13/12/2020             Afghanistan    298
2  12/12/2020             Afghanistan    113
3  11/12/2020             Afghanistan     63
4  10/12/2020             Afghanistan    202

In [ ]:
df.dtypes

dateRep                    object
countriesAndTerritories    object
cases                       int64
dtype: object

In [ ]:
df['date'] = pd.to_datetime(df['dateRep'], dayfirst=True)

In [ ]:
df

In [ ]:
df['total_cases'] = df.sort_values('date').groupby('countriesAndTerritories').cumsum().sort_index()

In [ ]:
df

In [ ]:
df = df[['date', 'countriesAndTerritories', 'total_cases']]
df = df.rename(columns={'countriesAndTerritories': 'country'})
df

In [ ]:
df = pd.pivot_table(df, index=['date'], columns=['country'], values=['total_cases'])
df

In [ ]:
df.columns

In [ ]:
df.index.name = None
df.columns = [col[1] for col in df.columns]
df

In [ ]:
df = df.fillna(0).astype(int)
df

In [ ]:
df['Cases_on_an_international_conveyance_Japan']

In [ ]:
df = df.drop(columns=['Cases_on_an_international_conveyance_Japan'])
df

In [ ]:
df.columns = [col.replace('_', ' ') for col in df.columns]

In [ ]:
country_reserved = set()
for index, row in df.iterrows():
    country_reserved |= set(row[row > 0].sort_values(ascending=False).head(10).index)
df = df[list(country_reserved)]

In [ ]:
!pip install bar-chart-race

Collecting bar-chart-race
  Downloading https://files.pythonhosted.org/packages/09/01/f6d1a1a0978b39560843c54be7349804d7d2faef0a869acd7c8a6fc920b0/bar_chart_race-0.1.0-py3-none-any.whl (156kB)
     |████████████████████████████████| 163kB 6.3MB/s
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from bar-chart-race) (1.1.5)
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.7/dist-packages (from bar-chart-race) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->bar-chart-race) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->bar-chart-race) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->bar-chart-race) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->bar-chart-race) (1.15.0)
Installing collected packages: bar-chart-race
Successfully installed bar-chart-race-0.1.0

In [ ]:
import bar_chart_race as bcr

In [ ]:
bcr.bar_chart_race(
    df=df,
    filename='/content/drive/covid-19.mp4',
    n_bars=10,
    period_fmt='%B %d, %Y',
    title='COVID-19 Confirmed Cases by Country'
)